body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
 header  {
  max-width: 100%;
  max-height: auto;
  align-content: center;
  background: #FDAC53;
} 
.hero {
  background-image: url('../images/hero.png');
  max-width: 100vw;
  height: 35vw;
  object-fit: contain;
}
.hero2 {
  background-image: url('../images/hero.png');
  max-width: 100vw;
  height:20vw;
  object-fit:contain;
}
header h1 {
  position: relative;
  top: 20%;
  height: 130px;
  width: auto;
  background-color: #FDAC53;
  opacity: 75%;
  padding-left: 35vw;
  margin: auto;
  font-weight: bold;
  font-size: 15vh;
  font-family: 'Satisfy', cursive;
  color: #00758f;
  text-shadow: 2px 2px 5px white;
}
#color-teal {
  color: #00758f;
  font-size: xx-large;
}
nav {
  background-color: #FDAC53;
  color: white;
}

#logo{
  display: flex;
  max-width: 50px;
  max-height: 70px;
  float: left;
}

li a:hover{
  background-color: #00758f;
  color: white;
}
.gradient-custom {
  background:  #00758f;
  background: -webkit-linear-gradient(to right, rgba(0, 117, 143, 1), rgba(95, 96, 99, 1));
  background: linear-gradient(to right, rgba(0, 117, 143, 1), rgba(95, 96, 99, 1));
}
/* Create three unequal columns that floats next to each other */
.column {
   float: left;
   padding: 10px;
   margin: 20px;
 }
 /* Left and right column */
 .column.side {
   width: 25%;
 }
 /* Middle column */
 .column.middle {
   width: 50%;
 }

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 .fakeimg {
   border-radius: 25px;
   width: 50%;
   height: auto;
   background: #FDAC53;
}

/*sign in button @footer*/
.button {
   margin: 10px;
   background-color: #00758f; /* mosaic blue */
   border-radius: 4px;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FDAC53;
  color: white;
  text-align: center;
}
footer a {
color: white;
}

/* favicons*/
i {
display: inline-block;
width: 72px;
height: 72px;
background-position: -72px 0;
}
#gallery-img {
  max-width: 400px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .column.side, .column.middle {
     width: 100%;
   }
}